.App {
  text-align: center;
}

.search-bar {
  width: 80%;
  max-width: 800px;
  margin: 10px auto;
  height: 30px;
  border-radius: 4px;
}

.table-container {
  width: 80%;
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}

.table tr:hover {
  background-color: #f5f5f5;
}

.table td:first-child {
  font-weight: 500;
  text-align: center;
  color: #525252;
  border-left: none;
  border-right: none !important;
}

.table td:nth-child(2) {
  font-style: italic;
  text-align: center;
  border-right: none;
}

.table-container {
  width: 90%;
}
